$banner-height: 56px;
$banner-font-size: 18px;
$spacing: 8px;

.layout {
    width: 100%;
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    padding: $spacing;
    font-size: $banner-font-size;
    width: 100%;
    height: $banner-height;
    display: flex;
    flex-direction: row;
    align-items: center;

    select {
        font-size: calc($banner-font-size - 2px);
        border-radius: 3px;
        max-width: 200px;
    }

}

.footer {
    padding: $spacing;
    font-size: 14px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.main {
    position: relative;
    margin-top: $banner-height;
    padding-top: $spacing;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexpadding {
    flex-grow: 1;
    min-height: $spacing;
    min-width: $spacing;
}

.hlayout {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vlayout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homegrid {
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    width: 100%;
    padding: $spacing $spacing*2;
    gap: $spacing*2;
}

.homegriditem {
    flex-grow: 0;
    flex-basis: calc(20% - $spacing);
    max-width: calc(20% - $spacing);

    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1200px) {
    .homegriditem {
        flex-basis: calc(50% - $spacing);
        max-width: calc(50% - $spacing);
    }
}

@media (max-width: 500px) {
    .homegriditem {
        flex-basis: 100%;
        max-width: 1000%;
    }
}

.homecase {
    width: 100%;

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $spacing*3;
        width: 100%;

        &:hover {
            text-decoration: none;
        }
    }
}

.docarea {
    width: 100%;
    display: flex;
    justify-content: center;
}