#nprogress .bar,
#nprogress .spinner {
    z-index: 2000;
}

#nprogress .bar {
    height: 8px;
}

// style for common element
a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

select {
    padding: 8px;
    cursor: pointer;
}

input {
    padding: 8px 4px;
}

button {
    padding: 6px 8px;
    cursor: pointer;
}


// define variable
:root {
}