
.root {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    padding: 18px 10px 10px 8px;
}

.grid-item{
    flex-basis: calc(50% - 8px);
    max-width: calc(50% - 8px);
}
.grid-item-single{
    flex-basis: calc(100% - 8px);
    max-width: calc(100% - 8px);
}

@media (max-width: 1280px) {
    .grid-item {
        flex-basis: calc(100% - 8px);
        max-width: calc(100% - 8px);
    }
}

.toggle {
    position: absolute;
    top: 0;
    left: 0;
    margin: -6px 0px 0px 1px;
    border-radius: 50%;
    border-width: 0;
    padding: 8px;
    height: 40px;
    width: 40px;
    opacity: 0.8;

    &:hover {
        color: var(--theme-primary-color);
        opacity: unset;
    }

    svg {
        height: 24px;
        width: 24px;
    }
}

.toggle-end {
    left: unset;
    right: 0;
}

.toggle-show {
    opacity: 1;
}

.markdown {   
    > * {
        margin: -4px 0px 0px 0px;
        padding: 16px;
        box-shadow: var(--theme-shadow-color) 0px 2px 4px;
        border-radius: 5px;
        min-height: 48px;
    }
}

.children {   
    > * {
        margin: -4px 0px 0px 0px;
        padding: 16px;
        box-shadow: var(--theme-shadow-color) 0px 2px 4px;
        border-radius: 5px;
        min-height: 48px;
    }
}

.loading {
    padding: 8px;
    display: flex;
    align-items: center;
}
